/*
    ▄▄▄▄                                                        █
    █   ▀▄  ▄▄▄   ▄   ▄   ▄▄▄   ▄ ▄▄    ▄▄▄    ▄▄▄   ▄ ▄▄    ▄▄▄█   ▄▄▄
    █    █ █▀  █  ▀▄ ▄▀  ▀   █  █▀  █  █▀  █  ▀   █  █▀  █  █▀ ▀█  █▀ ▀█
    █    █ █▀▀▀▀   █▄█   ▄▀▀▀█  █   █  █▀▀▀▀  ▄▀▀▀█  █   █  █   █  █   █
    █▄▄▄▀  ▀█▄▄▀    █    ▀▄▄▀█  █   █  ▀█▄▄▀  ▀▄▄▀█  █   █  ▀█▄██  ▀█▄█▀

    Created on : Nov 17, 2016, 12:30:10 PM
    Author     : Eduardo Fernandes
*/


/* ########## Html, Body & containers ##### */

html{
    /* Container size and position */
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;

    /* Color and styling */
    background-color: #C0C0C0;
    color: #000000;
}

body{
    /* Container size and position */
    margin: 0 auto 0 auto;
    padding: 10px 10px 10px 10px;
    width: 80%;

    /* Color and styling */
    background-color: #ffffff;
    color: #000000;

    /* Line and text formatting */
    line-height: 30px;
    vertical-align: text-bottom;
    hyphens: auto;
    text-align: left;
    word-wrap:break-word;

    /* Text formatting */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

/* ########## Headers ##### */

h1, h2, h3, h4, h5, h6{
    /* Container size and position */
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    /* Color and styling */
    background-color: transparent;
    color: #000000;

    /* Line and text formatting */
    line-height: 50px;
    text-align: left;
    vertical-align: middle;
    word-wrap:normal;

    /* Text formatting */
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

h1{
    /* Container size and position */
    margin: 15px 0 50px 0;

    /* Color and styling */
    color: #000000;

    /* Line and text formatting */
    text-align: center;

    /* Text formatting */
    font-size: 40px;
}

h2{
    /* Color and styling */
    border-bottom: solid #181818 1px;
    color: #181818;

    /* Line and text formatting */
    vertical-align: text-bottom;

    /* Text formatting */
    font-size: 30px;
}

h3{
    /* Color and styling */
    color: #303030;

    /* Text formatting */
    font-size: 20px;
}

h4{
    /* Color and styling */
    color: #484848;

    /* Text formatting */
    font-size: 18px;
}

h5 {
    /* Color and styling */
    color: #606060;

    /* Text formatting */
    font-size: 16px;
}

h6 {
    /* Color and styling */
    color: #787878;

    /* Text formatting */
    font-size: 14px;
}

/* ########## Paragraphs ##### */

p {
    /* Container size and position */
    margin: 0 0 15px 0;

    /* Line and text formatting */
    text-align: justify;
}

/* ########## Links ##### */

a, a:active, a:visited{
    /* Color and styling */
    color: #484848;

    /* Text formatting */
    text-decoration: none;
    text-transform: none;
}

a:hover{
    /* Text formatting */
    text-decoration: underline;

    /* Other */
    cursor: pointer;
}

/* ########## Lists ##### */

ul {
    /* Container size and position */
    padding: 0 0 0 0;

    /* Other */
    list-style: none outside;

}

ol{
    /* Container size and position */
    margin: 0 10px 0 0;

    /* Other */
    list-style: decimal;
}

ul li{
    /* Container size and position */
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
}

ul li:before
{
    /* Container size and position */
    margin: 0 10px 0 0;
    padding: 0 0 0 0;

    /* Other */
    content: '\2713';

}

li p{
    /* Container size and position */
    margin: 0 0 10px 0;

    /* Line and text formatting */
    line-height: 20px;
}

/* ########## Footnote ##### */

.footnote-ref, .footnote-ref:active, .footnote-ref:visited{
    /* Container size and position */
    padding: 0 5px 0 5px;

    /* Color and styling */
    color: #484848;

    /* Text formatting */
    text-transform: none;
    text-decoration: none;
    font-size: small;
    font-weight: 700;
}

.footnote-ref:hover{
    /* Text formatting */
    text-decoration: underline;

    /* Other */
    cursor: pointer;
}

.footnote-ref:before{
    /* Other */
    content: "\091";
    display: inline;
}

.footnote-ref:after{
    /* Other */
    content: "\093";
    display: inline;
}

/* ########## Blockquote ##### */

blockquote{
    /* Container size and position */
    margin: 0 auto 0 auto;
    padding: 10px 10px 10px 10px;
    width: 80%;

    /* Line and text formatting */
    line-height: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}

/* ########## Code ##### */

pre {
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 5px 5px 5px 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Lucida Console", Monaco, monospace;
    border: 1px solid #ccc;
}

/* ########## Images ##### */

img {
    /* Container size and position */
    float: left;
    margin: 10px 10px 10px 0;
    width: 240px;
}

.character{
    float: right;
    margin: 10px 0 10px 10px;
    width: 240px;
    height: 400px;
}

.item{
    float: right;
    margin: 10px 0 10px 10px;
    width: 240px;
    height: 400px;
}

.locale{
    float: right;
    margin: 10px 0 10px 10px;
    width: 400px;
    height: 200px;
}

/* ########## Other ##### */

author, time{
    font-family: "Times New Roman", Times, serif;
    color: #606060;
    font-size: 20px;
    font-weight: 700;
    display: block;
}

time{
    margin-bottom: 50px;
}


strong{
    font-weight: 700;
}

em{
    font-style: italic;
}

hr{
    margin-top: 50px;
}
